<!DOCTYPE html>
<html>
  <head>
    <title>Add New Film</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/newfilm.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    
    <header>
      <h1>Edit Show</h1>
      <div class="header-right">
			
        <a href="{% url 'homepage'  %}"id="create-btn">TV Shows</a>
        <a href="{% url 'log_out'  %}" id="create-btn">+logout </a>
      </div>
    </header>

    <form action='makeedit' method='post'>
      {% csrf_token %}
      <label for="title">Name:</label>
      <input type="text" id="title" name="name" value="{{film.filmname}}">
      <br>

      <label for="description">Description:</label>
      <input id="description" name="description" value="{{film.filmdiscription}}">
      <br>

      <label for="release-date">Release Date:</label>
      <input type="date" id="release-date" name="release-date" value="{{film.filmdate}}">
      <br>

      <label for="network">Network:</label>
      <input type="text" id="network" name="network" value="{{film.filmnetwork}}">
      <br>

      <input type="submit" value="Add Film">
    </form>
  </body>
</html>
