

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
	<header>
		<div class="header-left">
			<h1>{{firstname}}{{lastname}}</h1>
		</div>
		<div class="header-right">
			
			<a href="{% url 'homepage'  %}"id="create-btn"> TV Shows</a>
			<a href="{% url 'log_out'  %}" id="create-btn">+logout </a>
		</div>
	</header>

<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{film.filmname}}</h2>
  </div>
  <div class="card-body">
    <p class="card-text">{{film.filmdiscription}}</p>
    <p class="card-text">{{film.filmdate}}</p>
    <p class="card-text">{{film.filmnetwork}}</p>
    <p class="card-text">{{film.filmadder.firstname}}{{film.filmadder.firstname}}</p>
  </div>
</div>


	<script src="script.js"></script>
</body>
</html>
